In [52]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
from itertools import chain

In [53]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
58,tt2679042,35000000,82347656,Hitman: Agent 47,Rupert Friend|Zachary Quinto|Hannah Ware|Emili...,Aleksander Bach,Your Number is Up.,An assassin teams up with a woman to help her ...,96,Action|Crime|Thriller,Twentieth Century Fox Film Corporation|Fox Int...,8/20/2015,5.5,2015
152,tt2333784,90000000,206172544,The Expendables 3,Sylvester Stallone|Jason Statham|Harrison Ford...,Patrick Hughes,New team. New attitude. New mission.,"Barney, Christmas and the rest of the team com...",127,Action|Adventure|Thriller,Davis-Films|Nu Image Films|LionsGate|Millenniu...,8/4/2014,6.2,2014
51,tt3045616,60000000,30418560,Mortdecai,Johnny Depp|Gwyneth Paltrow|Ewan McGregor|Paul...,David Koepp,Sophistication Has a Name.,"Art dealer, Charles Mortdecai, searches for a ...",106,Comedy|Adventure,Lionsgate|Mad Chance|OddLot Entertainment|Huay...,1/21/2015,5.3,2015
357,tt1198138,20000000,73830340,Obsessed,BeyoncÃ© Knowles|Idris Elba|Ali Larter|Jerry O...,Steve Shill,Sharon and Derek have all they've ever wanted....,Things couldn't be better for Derek Charles. H...,108,Drama|Thriller,Sony Pictures,4/24/2009,5.5,2009
560,tt0251075,80000000,98376292,Evolution,David Duchovny|Julianne Moore|Orlando Jones|Se...,Ivan Reitman,Coming to wipe that silly smile off your planet.,A comedy that follows the chaos that ensues wh...,101,Action|Comedy|Science Fiction,DreamWorks SKG|Columbia Pictures Corporation|M...,6/8/2001,5.4,2001

In [54]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [56]:
answers = {} # создадим словарь для ответов

# создадим колонку прибыли (сборы - бюджет)
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [58]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [59]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [60]:
data.loc[data.budget.idxmax()]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 3

In [61]:
data.sort_values('budget', ascending = False).original_title.head(1)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [62]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [63]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [64]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [65]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [66]:
answers['4'] = '2. 110'

In [67]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [68]:
answers['5'] = '1. 107'

In [69]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [70]:
answers['6'] = '5. Avatar (tt0499549)'

In [71]:
data[data.profit  == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [72]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [73]:
data[data.profit  == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [74]:
answers['8'] = '1. 1478'

In [75]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [76]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [77]:
data_2008 = data[(data.release_year == 2008)]
data_2008[data_2008.revenue == data_2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

ВАРИАНТ 2

In [78]:
data.loc[data.revenue.idxmax() & (data['release_year'] == 2008)]['original_title'].head(1)

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [79]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [80]:
data_min = data[(data.release_year > 2011) & (data.release_year <= 2014)]
data_min[data_min.profit == data_min.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 2

In [81]:
data[data.release_year.isin(['2012', '2013', '2014'])].sort_values(
    'profit', ascending = True).original_title.head(1)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [82]:
answers['11'] = '3. Drama'

In [83]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [84]:
answers['12'] = '1. Drama'

In [85]:
data_profit = data[(data.profit  > 0)]
Counter(data_profit.genres.str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [86]:
answers['13'] = '5. Peter Jackson'

In [87]:
data.director = data.director.str.split('|')
data_copy1 = data.explode('director')
data_copy1.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [88]:
answers['14'] = '3. Robert Rodriguez'

In [89]:
action_movies = data_copy1[data_copy1.genres.str.contains('Action', na=False)]
action_movies.director.value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [90]:
answers['15'] = '3. Chris Hemsworth'

In [91]:
data_2012 = data[data.release_year == 2012]
data_2012.cast = data_2012.cast.apply(lambda x: x.split('|'))
data_2012 = data_2012.explode('cast')
data_2012.groupby('cast')['revenue'].sum().sort_values(ascending = False).head(1)

C:\Users\juke\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [92]:
answers['16'] = '3. Matt Damon'

In [93]:
data_revenue = data[data.budget > data.budget.mean()]
data_revenue.cast = data_revenue.cast.str.split('|')
data_revenue = data_revenue.explode('cast')
data_revenue.cast.value_counts().head(1)

C:\Users\juke\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [94]:
answers['17'] = '2. Action'

In [95]:
movie_Nicolas = data[data.cast.str.contains('Nicolas Cage', na=False)]
movie_Nicolas.genres = movie_Nicolas.genres.str.split('|')
movie_Nicolas = movie_Nicolas.explode('genres')
movie_Nicolas.genres.value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [96]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [97]:
data[data.production_companies.str.contains("Paramount Pictures", na=False)].sort_values(
    'profit', ascending=True).original_title.head(1)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [98]:
answers['19'] = '5. 2015'

In [99]:
data.groupby(data['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [100]:
answers['20'] = '1. 2014'

In [101]:
data[data.production_companies.str.contains("Warner Bros", na=False)].groupby(
    data['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [102]:
answers['21'] = '4. Сентябрь'

In [103]:
data["release_date"] = pd.to_datetime(data["release_date"])
data.month = data["release_date"].dt.month
data.month.value_counts().head(1)

<ipython-input-103-27530d2f2555>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.month = data["release_date"].dt.month

9    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [104]:
answers['22'] = '2. 450'

In [105]:
data["release_date"] = pd.to_datetime(data["release_date"])
data.month = data["release_date"].dt.month
len(data[data.month.isin(['6','7','8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [106]:
answers['23'] = '5. Peter Jackson'

In [108]:
director_winter = data.copy()
data["release_date"] = pd.to_datetime(data["release_date"])
data.month = data["release_date"].dt.month
director_winter.director = director_winter.director.str.split('|')
director_winter = director_winter.explode('director')
director_winter = data[data.month.isin(['12', '1', '2'])]
director_winter.director.value_counts().sort_values(ascending=False).head(1)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Peter Jackson]    7
Name: director, dtype: int64

# 24. Какая студия даёт самые длинные названия своим фильмам по количеству символов?

In [109]:
answers['24'] = '5. Four By Two Productions'

In [110]:
data['title_count'] = data['original_title'].map(lambda x: len(x))
data.production_companies = data.production_companies.str.split('|')
data_copy2 = data.explode('production_companies')
data_copy2.groupby('production_companies')['title_count'].agg(
    ['mean']).sort_values('mean', ascending=False).head(1)

                         mean
production_companies
Four By Two Productions  83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [111]:
answers['25'] = '3. Midnight Picture Show'

In [112]:
data_copy2['overview_count'] = data['overview'].map(lambda x: len(x.split()))
data_copy2.groupby('production_companies')['overview_count'].agg(
    ['mean']).sort_values('mean', ascending=False).head(1)

                        mean
production_companies
Midnight Picture Show  175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [113]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [114]:
data.sort_values(['vote_average'], ascending = False).head(round(len(data)/100))['original_title']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [115]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [116]:
cast_combinations = data.copy()
cast_combinations['cast_split'] = cast_combinations['cast'].str.split('|')
cast_combinations['cast_togever'] = cast_combinations.cast_split.apply(lambda x: list(combinations(x, 2)))
list1 = cast_combinations.cast_togever.tolist()
list2 = chain(*list1)
Counter(list2).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [117]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [118]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [119]:
string = 'Вы - самый крутой студент в SkillFactory'
for letter in string:
    print(letter, end = '')

Вы - самый крутой студент в SkillFactory